
<div class="row">
  <div class="col-md-5"></div>

  <div class="col-md-2">
    <div class="well bs-component">
      <form class="form-horizontal" (ngSubmit)="login()" #loginForm="ngForm" novalidate>
        <fieldset>
          <legend class="text-center">Loguin</legend>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="glyphicon glyphicon-user input-group-addon"></span>
                <input class="form-control" type="text" placeholder="Usuario" name="name" [(ngModel)] = "user.name" #name="ngModel" required/>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-12">
              <div class="input-group">
                <span class="glyphicon glyphicon-lock input-group-addon"></span>
                <input class="form-control" type="password" placeholder="Contrase&ntilde;a" name="pass" [(ngModel)] = "user.pass" #pass="ngModel" required/>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-12">
              <input class="form-control btn btn-primary" type="submit" value="Entrar" [disabled]="estadoCarga"/>
            </div>
          </div>
        </fieldset>
        <div *ngIf="textError" class="form-group">
          <div class="col-md-12">
            <div class="alert alert-danger small">{{textError}}</div>
            <!--<p class="help-block small mark">{{textError}}</p>-->
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="col-md-5"></div>
</div>






<!--
<div *ngIf="usuarios">
  <div *ngFor="let user of usuarios | async">{{user.name}} {{user.pass}}</div>
</div>
-->